[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyicloud = "*"
flask = "*"
jsonify = "*"
flask-jwt-extended = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.9"
