[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "*"
pyicloud = "*"
flask = "2.0.2"
flask-cors = "*"
flask-jwt-extended = "*"
jsonify = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.9"
