[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "*"
pyicloud = "~=0.10.2"
flask = "~=2.0.2"
flask-cors = "*"
flask-jwt-extended = "*"
jsonify = "*"
werkzeug = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.9"
